body {
	margin: 0;
}

/* .dark-mode {
	--color-inactive-text: rgb(62, 62, 63);
	--color-inactive-background: rgba(30, 30, 31, 0.98);
	--color-active-background: rgb(22, 22, 28);
	--color-highlight: rgba(181, 40, 24, 0.9);
	--color-text: rgb(228, 232, 244);
	--color-extra-light: rgba(107, 16, 6, 0.9);
	--color-extra-dark: rgba(73, 17, 11, 0.9);
}

.light-mode {
	--color-inactive-text: rgb(62, 62, 63);
	--color-inactive-background: rgba(250, 248, 243, 0.9);
	--color-active-background: rgb(255, 250, 247);
	--color-highlight: rgba(181, 40, 24, 0.9);
	--color-text: rgb(22, 22, 28);
	--color-extra-light: rgba(107, 16, 6, 0.9);
	--color-extra-dark: rgba(73, 17, 11, 0.9);
} */