body {
	margin: 0;
	overflow: hidden;
}

.dark-mode {
	--color-header-inactive-text: rgb(62, 62, 63);
	--color-header-inactive-background: rgba(30, 30, 31, 0.95);
	--color-header-active-background: rgb(22, 22, 28);
	--color-highlight: rgba(181, 40, 24, 0.9);
	--color-header-text: rgb(229, 231, 237);
	--color-extra-light: rgba(107, 16, 6, 0.9);
	--color-extra-dark: rgba(73, 17, 11, 0.9);
}
